* {
    margin: 0;
    padding: 0;
}

header {
    margin: 15px;
    text-align: center;
}

body {
    text-align: center;
}

header div {
    margin: 15px;
}

#players {
    margin: 15px;
    display: inline-flex;
}

#submit1 {
    margin-right: 50px;
}

#main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-family: sans-serif;
    text-align: center;
    margin: 100px auto;
    line-height: 98px;
    font-size: 3em;
    display: grid;
    height: 300px;
    width: 300px;
}

.cell {
    border: 1px solid black;
}

.cell:nth-child(-n+3) {
    border-top: none;
}

.cell:nth-child(n+7) {
    border-bottom: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}
