* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: none;
}

header, #form {
    margin: 15px;
    text-align: center;
    justify-content: center;
}

h1, h2 {
    margin: 15px;
}

h2 {
    cursor: pointer;
}

#form {
    position: fixed;
    z-index: 2;
    top: 15%;
    left: 29.23%;
}

#playerName {
    display: flex;
    gap: 50px;
    justify-content: inherit;
}

.hiddenForm {
    display: none;
}

.showForm {
    display: block;
}

#form div {
    margin: 15px;
}

#result {
    min-height: 30px;
    margin-top: 30px;
    font-size: 22px;
}

body {
    text-align: center;
}

#main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-family: sans-serif;
    text-align: center;
    margin: 70px auto 85px auto;
    line-height: 98px;
    font-size: 3em;
    display: grid;
    height: 300px;
    width: 300px;
}

.cell {
    border: 1px solid black;
}

.cell:nth-child(-n+3) {
    border-top: none;
}

.cell:nth-child(n+7) {
    border-bottom: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

#choices {
    display: inline-flex;
}