* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: none;
}

/*** HEADER ***/
header {
    background-color: #000;
    color: #fff;
    padding: 5px;
}

#form {
    justify-content: center;
}

h2 {
    margin: 15px;
    cursor: pointer;
}

#playerName {
    display: flex;
    gap: 50px;
    justify-content: inherit;
}

#form div {
    margin: 15px;
}

#form input, #form select {
    height: 33px;
}

#form input {
    width: 233px;
}

#form select {
    width: 100px;
}

#result {
    min-height: 30px;
    margin: 40px;
    font-size: 22px;
}

/*** BODY ***/
body {
    width: 100vw;
    text-align: center;
}

/*** MAIN (GAME BOARD) ***/
#main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-family: sans-serif;
    text-align: center;
    margin: 50px auto;
    line-height: 98px;
    font-size: 3em;
    display: grid;
    height: 300px;
    width: 300px;
}

.cell {
    border: 1px solid black;
}

.cell:nth-child(-n+3) {
    border-top: none;
}

.cell:nth-child(n+7) {
    border-bottom: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

#choices {
    display: inline-flex;
}
