* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  text-align: center;
  font-size: 16px;
}

/*** HEADER ***/
header {
  background-color: #252525;
  color: #fff;
  padding: 15px;
}

form {
  justify-content: center;
  margin: 15px;
  display: flex;
  gap: 50px;
}

form input {
  height: 33px;
  width: 200px;
  font-size: 1em;
}

@media (max-width: 450px) {
  form input {
    width: 35vw;
  }
}

#restart, #submit {
  cursor: pointer;
  font-size: 1em;
}

#playerName {
  justify-content: inherit;
}

#result {
  min-height: 30px;
  font-size: 1.5em;
  margin-top: 35px;
}

/*** MAIN (GAME BOARD) ***/
#main {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  font-family: sans-serif;
  line-height: 98px;
  user-select: none;
  margin: 5% auto;
  font-size: 3em;
  display: grid;
  height: 300px;
  width: 300px;
}

.cell:nth-child(-n+6) {
  border-bottom: 2px solid black;
}

.cell:nth-child(3n + 1), .cell:nth-child(3n-1) {
  border-right: 2px solid black;
}
